<html>
    <head>
        <title> Dragging Around Demo</title>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./styles/style.css"/>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
        <select name="blocktype">
            <option value="for">for</option>
            <option value="log">log</option>
        </select>
        <button onClick="add()" >Add Block</button>
        </div>
        <div id="main" class="container"> 
            <!-- The Maine --> 
        </div>
    </body>
</html>
